.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
  position: absolute;
  top: -10px;
  margin-left: -40px;
}

footer {
  font-weight: 500;
  font-size: 20px;
}
.card-body {
  padding: 60px 35px;
}
